:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
}

body {
  background-size: var(--primary-white-color);
  color: var(--primary-text-color);
}

.logo:hover {
  cursor: pointer;
}

/* Навігація по сайту */
.site-nav .link,
.contact-nav .link {
  color: var(--title-text-color);
}

/* Наведення на лінки в НАВІГАЦІЇ */
.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

/* Hero */
.hero {
  background-color: var(--secondary-bg-color);
}

/* заголовок ГЕРОЯ */
.hero-title {
  color: var(--primary-white-color);
  font-size: 44px;
}

/* Кнопка ГЕРОЯ */
.hero-btn {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

/* Feature */

.feature-list .title {
  color: var(--title-text-color);
  font-size: 14px;
}

/* work */

.work .title {
  color: var(--title-text-color);
  font-size: 36px;
}

/* about */
.about-title {
  color: var(--title-text-color);
  font-size: 36px;
}

.about .title {
  color: var(--title-text-color);
  font-size: 16px;
}

/* footer and address */
.footer {
  background-color: var(--secondary-bg-color);
}
.address .link {
  color: var(--primary-white-color);
}

.address .link.transparency {
  opacity: 0.6;
}

/* portfolio-nav */
.portfolio-nav .nav-btn {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.portfolio-nav .nav-btn:hover,
.portfolio-nav .nav-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

/* portfolio-work list */

.portfolio-work .title {
  color: var(--title-text-color);
}
